*,
*::before,
*::after {
  box-sizing: border-box; /* 這樣可以避免 padding/邊框影響寬高計算*/
}
#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem; /* 手機上可適當縮小 padding */
  text-align: center;
  box-sizing: border-box; /* 確保 padding 不會影響總寬度 */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (max-width: 600px) {
  .thumbnail-container {
    flex-direction: column;
    align-items: center;
  }

  .thumbnail {
    width: 80%; /* 根據容器縮小寬度 */
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* fadeIn動畫 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* slideIn動畫 */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 樣式設置 */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}

.thumbnail-container {
  display: flex;  /* 讓縮圖在水平方向排列 */
  gap: 10px;      /* 每個縮圖之間的間距 */
  overflow-x: auto; /* 如果縮圖太多，會顯示滾動條 */
  padding: 10px;
}

.thumbnail {
  width: 100px;    /* 設置縮圖的寬度 */
  height: auto;    /* 高度自動調整，保持比例 */
  cursor: pointer; /* 鼠標懸停時顯示為可點擊 */
  transition: transform 0.3s; /* 添加一點過渡效果 */
}

.thumbnail:hover {
  transform: scale(1.1); /* 鼠標懸停時略微放大縮圖 */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 確保 modal 顯示在最上層 */
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal img {
  width: 100%;
  height: auto;
  object-fit: contain; /* 確保圖片保持比例 */
  cursor: pointer; /* 鼠標指向圖片時變成點擊手型 */
}
body {  /* CSS 限制畫面水平不被撐開 */
  overflow-x: hidden;
}

